<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>

    <form style="display: flex;flex-direction: column;width: 130px" action="/login" method="post">
        <label><b>firstName</b> <input name="firstName" type="text"></label>
        <label><b>lastName</b><input name="lastName" type="text"></label>
        <label><b>email</b><input name="email" type="text"></label>
        <label><b>password</b><input name="password" type="text"></label>
        <label><b>age</b><input name="age" type="text"></label>
        <label><b>city</b><input name="city" type="text"></label>
        <input type="submit" value="push">
    </form>
</div>
</body>
</html>