<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div style="width: 150px">
    {{#each users}}
        <div style="display: flex; flex-direction: column;">
            <div><b>firstName: </b>{{this.firstName}}</div>
            <div><b>city: </b>{{this.city}}</div>
            <a href="/users/{{this.id}}"><b>info</b></a>
        </div>
        <hr/>
    {{/each}}
</div>
</body>
</html>